body  {

    margin: 0px;
        padding: 0px;
    font-size: 13px ;
  font-family:  Arial, Helvetica, sans-serif
}



header { height: none ;

width: 250px; 
}
  nav { display: flex;
    justify-content: flex-end;
    

  }  
nav ul {
  width: 100%;
  justify-content: space-between;
  display: flex;
  list-style: none;
}
.menu-icon{
  background-image: url("https://static.thenounproject.com/png/756729-200.png" );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 25px;
  width: 25px;
}